In [7]:
#Import libraries
import pandas as pd
import seaborn as sns

#Load and read df
stocktweets = pd.read_csv("stocktweet.csv")
stocktweets

,id,date,ticker,tweet
0,100001,01/01/2020,AMZN,$AMZN Dow futures up by 100 points already ü•≥
1,100002,01/01/2020,TSLA,$TSLA Daddy's drinkin' eArly tonight! Here's t...
2,100003,01/01/2020,AAPL,$AAPL We‚Äôll been riding since last December fr...
3,100004,01/01/2020,TSLA,"$TSLA happy new year, 2020, everyoneüç∑üéâüôè"
4,100005,01/01/2020,TSLA,"$TSLA haha just a collection of greats...""Mars..."
...,...,...,...,...
9995,109996,31/12/2020,ABNB,"$ABNB ‚Äúsugar daddy puts.‚Äù Don‚Äôt mind me, I‚Äôm j..."
9996,109997,31/12/2020,TSLA,$TSLA \nGood news... now bears can get help wh...
9997,109998,31/12/2020,BABA,$BABA Who else is glad they sold in 240s yeste...
9998,109999,31/12/2020,CCL,$CCL $23 calls for .79 you know what to do ü•≥
9999,110000,31/12/2020,TSLA,$TSLA üî• closed out 15k in profit!Happy New Ye...

In [8]:
# Check and drop null values
stocktweets.isnull().sum()

id        0
date      0
ticker    0
tweet     0
dtype: int64

In [29]:
# Remove duplicates
stocktweets.drop_duplicates(inplace=True)
stocktweets

,id,date,ticker,tweet
0,100001,01/01/2020,AMZN,$AMZN Dow futures up by 100 points already ü•≥
1,100002,01/01/2020,TSLA,$TSLA Daddy's drinkin' eArly tonight! Here's t...
2,100003,01/01/2020,AAPL,$AAPL We‚Äôll been riding since last December fr...
3,100004,01/01/2020,TSLA,"$TSLA happy new year, 2020, everyoneüç∑üéâüôè"
4,100005,01/01/2020,TSLA,"$TSLA haha just a collection of greats...""Mars..."
...,...,...,...,...
9995,109996,31/12/2020,ABNB,"$ABNB ‚Äúsugar daddy puts.‚Äù Don‚Äôt mind me, I‚Äôm j..."
9996,109997,31/12/2020,TSLA,$TSLA \nGood news... now bears can get help wh...
9997,109998,31/12/2020,BABA,$BABA Who else is glad they sold in 240s yeste...
9998,109999,31/12/2020,CCL,$CCL $23 calls for .79 you know what to do ü•≥
9999,110000,31/12/2020,TSLA,$TSLA üî• closed out 15k in profit!Happy New Ye...

In [41]:
import os

stockprice_folder = 'stockprice'
stockprice_dfs = {}

for filename in os.listdir(stockprice_folder):
    if filename.endswith('.csv'):
        data = filename.split('.')[0]
        df = pd.read_csv(os.path.join(stockprice_folder, filename))
        stockprice_dfs[data] = df

In [42]:
for data, df in stockprice_dfs.items():
    # Check for missing values
    print(data, df.isnull().sum())

    # Handle missing values if necessary (e.g., fill with mean)
    stockprice_dfs[data].fillna(method='ffill', inplace=True)

AAPL Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
ABNB Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
AMT Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
AMZN Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
BA Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
BABA Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
BAC Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
BKNG Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
BRK-A Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
BRK-B Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
CCL Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
CVX Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
DIS Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
FB Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
GOOG Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
GOOGL Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
GSPC Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
HD Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
JNJ Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
JPM Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
KO Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
LOW Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
MA Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
MCD Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
META Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
MSFT Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
NFLX Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
NKE Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
NVDA Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
PFE Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
PG Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
PYPL Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
SBUX Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
TM Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
TSLA Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
TSM Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
UNH Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
UPS Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
V Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
WMT Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
XOM Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [31]:
import re
# Clean tweets by removing unprintable characters using regex
check = r'[^a-zA-Z0-9]'
stocktweets['tweet'] =stocktweets['tweet'].str.replace(check, ' ', regex=True)

In [33]:
stocktweets['tweet']

0             AMZN Dow futures up by 100 points already
1        TSLA Daddy s drinkin  eArly tonight  Here s t...
2        AAPL We ll been riding since last December fr...
3                  TSLA happy new year  2020  everyone
4        TSLA haha just a collection of greats    Mars...
                              ...
9995     ABNB  sugar daddy puts   Don t mind me  I m j...
9996     TSLA  Good news    now bears can get help whe...
9997     BABA Who else is glad they sold in 240s yeste...
9998          CCL  23 calls for  79 you know what to do
9999     TSLA    closed out 15k in profit Happy New Ye...
Name: tweet, Length: 10000, dtype: object

In [36]:
stocktweets.to_excel('stocktweet.xlsx')

In [40]:
stocktweets.to_csv('stocktweets.csv')
df1 = pd.read_csv('stocktweets.csv')
df1

,Unnamed: 0,id,date,ticker,tweet
0,0,100001,01/01/2020,AMZN,AMZN Dow futures up by 100 points already
1,1,100002,01/01/2020,TSLA,TSLA Daddy s drinkin eArly tonight Here s t...
2,2,100003,01/01/2020,AAPL,AAPL We ll been riding since last December fr...
3,3,100004,01/01/2020,TSLA,TSLA happy new year 2020 everyone
4,4,100005,01/01/2020,TSLA,TSLA haha just a collection of greats Mars...
...,...,...,...,...,...
9995,9995,109996,31/12/2020,ABNB,ABNB sugar daddy puts Don t mind me I m j...
9996,9996,109997,31/12/2020,TSLA,TSLA Good news now bears can get help whe...
9997,9997,109998,31/12/2020,BABA,BABA Who else is glad they sold in 240s yeste...
9998,9998,109999,31/12/2020,CCL,CCL 23 calls for 79 you know what to do
9999,9999,110000,31/12/2020,TSLA,TSLA closed out 15k in profit Happy New Ye...